<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rnincomingcall">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- Xiaomi and similar devices overlay configs -->
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <activity
              android:name="com.rnincomingcall.IncomingCallActivity"
              android:showWhenLocked="true"
              android:turnScreenOn="true"
              android:launchMode="singleTop"
              android:showOnLockScreen="true"
              android:exported="false"
              android:theme="@style/Theme.AppCompat.Translucent"
      />
    </application>

</manifest>
